<div style="background-color: black; color: white;" id="header" class="header container-fluid">

	<!-- <img src="/app/www/logo/logo-i.png"> -->

	<div>
		<br>
		<div style="font-size: xx-large;" class="pull-left">Pahuja Workshop &nbsp | &nbsp</div>
		<div class="pull-left">Learn from our experience</div>
		<div class="pull-right">
			<!-- Home -->
			<a href="#/home" style="color: white;"> Home</a> |
			<!-- Site Map -->
			<a href="#/sitemap" style="color: white;">Site Map</a> |
			<!-- Organization -->
			<a href="#/org" style="color: white;">Organization</a> |
			<!-- Team -->
			<a href="#/team" style="color: white;">Team</a> |
			<!-- Contact-->
			<a href="#/contact" style="color: white;">Contact us</a>
		</div>
	</div>

</div>