<div style="background-color: black; color: white;" ng-controller="MenuCtrl" ng-init="setService('coaching')">
	<br> <br>
	<hr>
	<div style="margin-left: 20px">
		<!-- Coaching -->
		<a href="#/coaching" style="color: white;" ng-click="setService('coaching')">Coaching</a> |
		<!-- Training-->
		<a href="#/training" style="color: white;" ng-click="setService('training')">Training</a> |
		<!-- Consulting -->
		<a href="#/consulting" style="color: white;" ng-click="setService('consulting')">Consulting</a>
	</div>

</div>