<div>

	<p>Team</p>
	
	<p>Under Construction</p>
	<!-- 	
	<table class="table">
		<tr>
			<th>Faculty</th>
			<th>Deptt.</th>
			<td>Qualification</td>
			<td>Bio</td>
		</tr>
		
		<tr>
			<td>Vinod Pahuja</td>
			<td>Software</td>
			<td>B.E</td>
			<td>10+ yrs. of industry experience in software development</td>
		</tr>
		
		<tr>
			<td>Deepika Pahuja</td>
			<td>Commerce, Art</td>
			<td>B.COM, MBA in finance</td>
			<td>2+ yrs. of counselling experience in Top financial organization</td>
		</tr>
		<tr>
			<td>Shobha Pahuja</td>
			<td>Commerce, Art</td>
			<td>B.COM, MBA in finance</td>
			<td>2+ yrs. of teaching experience as a Tutor</td>
		</tr>
		<tr>
			<td>Leena Pahuja</td>
			<td>Software, Mathematics</td>
			<td>BCA, MCA</td>
			<td>3+ yrs. of teaching experience as a Tutor and 1 yr of Software development</td>
		</tr>
		
		<tr>
			<td>Sumit Pahuja</td>
			<td>Mechanical</td>
			<td>Dip. in Mechanical</td>
			<td>Starting career in Coaching, Training and Consultancy</td>
		</tr>
		
	</table>
 -->
</div>